*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  overflow-y: scroll;
  font-size: 1.8rem;
  font-family: var(--font-family);
  color: var(--color-primary-beta);
  background-color: var(--color-background-alpha);
  box-shadow: 0 0 100px var(--color-primary-delta);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
