.link {
  color: var(--color-primary-beta);
  text-transform: uppercase;
  text-decoration: none;
  outline-offset: 3px;
  transition: opacity 0.3s;

  .mouse-usage &:hover {
    opacity: 0.75;
  }
}
